.div {
    height: 150px;
    width: 150px;
    margin: 5px;
    display: inline-block;
}

.img {
    height: 150px;
    width: auto;
}

.text {
    text-align: center;
    padding: 5px;
    position: absolute;
    color: black;
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}

.padding2 {
    padding: 10px;
    text-align: right;
}