.div2 {
    height: 150px;
    width: 150px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    color: black;
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}