.outline {
    color: black;
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}

.div1 {
    height: 150px;
    width: 150px;
    margin: 5px;
    display: inline-block;
}

.img1 {
    height: 150px;
    width: auto;
}

.inline {
    padding: 10px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.black {
    background-color:rgb(96, 95, 95, .9);
}

.notes {
    width: 75%;
}


.white {
    color: white !important;
}

.row {
    background-color: rgb(242, 239, 239, .5);
}