

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
}

.back {
  color: #f2f2f2;
  background-color: #750004;
  float: left;
  text-align: left;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  border: none;
  cursor: pointer;
  outline: 0;
}

.home {
  display: inline-block;
  color: #f2f2f2;
  background-color: #750004;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  border: none;
  cursor: pointer;
  outline: 0;
}

.about {
  color: #f2f2f2;
  background-color: #750004;
  float: right;
  text-align: right;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  border: none;
  cursor: pointer;
  outline: 0;
}

.footerNav {
/* flex box layout */
width: 100%;
justify-content: space-between;
background-color: #750004;
overflow: hidden;
}

.display {
  position: relative;
  height: 60px;
}